/* Normalise CSS */
html,body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
 .container{
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
} 
/* to remove scrollbar from the page */
*::-webkit-scrollbar{
    display: none;
}


/* headee css */


header{
    background-color:  transparent;
    /* Fix Navbar */
    position: fixed;
    z-index:100;
    left: 0;
    top:0;
    width:100%;
    /* Nav transition */
    transition: all ease 600ms;
}
header.black-bg{
    background-color: rgb(20, 20,20);
}

.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 110px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item{
    /* color:white; */
    margin-right: 20px;
    color: #e5e5e5;
    opacity: .83;

}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 500;
}
.right-cont img, .right-cont svg{
    margin-right: 22px;
    cursor: pointer;
}
.right-cont svg{
 color: white;    
}
.right-cont img{
    max-width: 36px;
}



/* Movies Section CSS  */

.movies-section{
margin: 41px 0;
}
.explore-nudge{
color: #54b9c5;
font-size: 12px;
display: none;
}
.movies-section-heading{
color:#fff;
font-size: 20px;
font-weight: 700;
line-height: 1.2;
cursor: pointer;
margin-bottom: 10px;
}
.movies-section-heading:hover .explore-nudge{
    display: inline-block;
}
.movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.movies-item-img{
    width:inherit;
}
.movies-item iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:10;
    display:none;
    border: none;
    outline: none;
}
.movies-item:hover iframe{
    display: block;
}

.movies-item{
    width:245px;
    /* resized to fit in container */
    object-fit: contain;
    margin-right: 6px;
    border-radius: 4px;
    position: relative;
}
.movies-item:hover{
    /* to zoom movies items */
    transform: scale(1.3);
    /* to make the transform smooth */
    transition: transform linear 3000ms ;
}

/* Banner Section */
.banner-section{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    padding-top: 80px ;
    position: relative;
}
.banner-content{
    display: flex;
    flex-direction: column;
    padding-top: 90px ;


   
}
.banner_title{
    color: white;
    font-size: 78px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 16px;
    max-width: 40%;
}
.banner_info{
      margin-bottom: 14px;
      font-size: 22px;
      font-weight:700;
      line-height: 1.5;
      
    
}
.banner_overview{
        font-size: 16.4px;
        color: white;
        line-height: 1.3;
        max-width: 40%;

}
.action-button-cont{
     display: flex;
     flex-direction: row;
     align-items: center;
}
.action-button{
    border: none;
    background-color: white;
    padding: 8px 23px;
    margin-right: 11px;
    border-radius: 4px;
    /* display: flex;
    flex-direction: row; */
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}
.action-button:last-child{
    background-color: rgba(109, 109, 110, 0.7) ;
    color: white;
}

.banner_fadeBottom{
    height: 120px;
    background: linear-gradient(180deg,
    transparent, rgba(37,37,37,.61),
    #141414);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* .action-button svg{
    padding: 4px;
   
} */




/* Responsive CSS */
@media(max-width:767px){
   .main-nav {
    display: none;
 }    
 .banner-overview, .banner_title{
    max-width: 100%;
}
}